@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url(../src/images/back-image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.header{
    z-index: 10;
}
