@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: url(../src/images/bg.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;;
    
}

.header{
    z-index: 10;
}

.active{
    color: rgb(37 99 235);
}
.activeButton{
    background-color: white;
    color: rgb(132, 182, 247);
    transition: all 0.5s ease;
}
.continue{
    background-color: rgb(132, 182, 247);
    color: white;
    transition: all 0.5s ease;

}

